.btn {
    margin: 0 3px 0 3px;
}

.btn-info {
    color: white;
}

.btn-info:active {
    color: rgb(232, 232, 232);
}

.btn-info:hover {
    color: rgb(232, 232, 232);
}

.btn-outline-info:hover {
    color: white;
    background-color: #0dcaf0bc;
}



.page-link {
    color: #0dcaf0;
    border: solid 1px #0dcaf0bc;
}
.page-link:visited {
    background-color: #0dcaf0;
}

.nav-link:hover {
    color: #0dcaf0;
}

.nav-link {
    color: #7e7e7e;
}